# <h1>Log in</h1>

# <%= form_tag login_path do %>
#   <div>
#     <%= label_tag :username %>
#     <%= text_field_tag 'session[username]' %>
#   </div>

#   <div>
#     <%= label_tag :password %>
#     <%= password_field_tag 'session[password]' %>
#   </div>

#   <%= submit_tag 'Log in' %>
# <% end %>

<%= form_with(url: login_path, local: true) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit 'Log in', class: 'btn btn-primary' %>
<% end %>