<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <p><%= station.identifier %>: <a href="stations/<%=station.id%>"> <%= station.name %> </a> - <%= station.docked_bikes.count %> bike(s) available</p>
</div>
