<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <p><a style="float:left;" href="stations/<%=station.id%>"> <%= station.name %> </a> <span style="float:right;"><%= station.docked_bikes.count%>/<%= station.total_docks%> bikes available</span></p>
</div>
