<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <p><%= station.identifier %>: <a href="stations/<%=station.id%>"> <%= station.name %> </a> (<%= station.address %>) - <%= station.docked_bikes.count %> docked bike(s)</p>
</div>
