<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Rent a Bike
    </div>
    <div class="rides new">
      <%= form_with model: @ride do |f| %>
        <%= f.label :bike_id %>:
        <%= f.number_field :bike_id %><br/>
        <%= f.label :member_id %>:
        <%= f.number_field :member_id %><br/>
        <%= f.label :length %>:
        <%= f.number_field :length %><br/>
        <%= f.submit %>
      <% end %>
    </div>
	</div>
</div>
