<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Reconfigure Your Account
    </div>
    <div class="members edit">
      <%= form_with model: @member do |f| %>
        <%= f.label :username %>: <br>
        <%= f.text_field :username%> <br>
        <%= f.label :email %>: <br>
        <%= f.email_field :email%> <br>
        <%= f.label :password %>: <br>
        <%= f.password_field :password%>
        <div class="button-style" style="margin-top:20px;"><%= f.submit("Save") %> </div>
      <% end %>
    </div>
	</div>
</div>
