<nav class = "topnav">
  <ul>
    <li><a href="pages/about.html">About</a></li>
    <li><a href="pages/pricing.html">Pricing</a></li>
    <li><a href="adventures">Adventures</a></li>
    <li><a href="#map">Map</a></li>
    <li><a href="#help">Help</a></li>
    <li style ="float:right"><a href=members/<%=current_member.id%>>My Account</a></li>
  </ul>
</nav>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Your Account
    </div>
    <p> Username: <%=current_member.username%> </p>
    <p> Email: <%=current_member.email%> </p>
    <h1> Current Rides </h1>
    <table>
      <tr>
        <th> Start Time </th>
        <th> End Time </th>
        <th> Actions </th>
      </tr>
      <% current_member.rides.each do |r| %>
        <% if r.timeEnd > DateTime.now %>
        <tr>
          <td> <%=r.timeStart%> </td>
          <td> <%=r.timeEnd%> </td>
          <td> <%=link_to "Return", edit_ride_path(r.id)%> </td>
        </tr>
        <% end %>
      <% end %>
    </table>
    <h1> Ride History </h1>
    <table>
      <tr>
        <th> Start Time </th>
        <th> End Time </th>
      </tr>
      <% current_member.rides.each do |r| %>
        <% if r.timeEnd < DateTime.now %>
        <tr>
          <td> <%=r.timeStart%> </td>
          <td> <%=r.timeEnd%> </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
